body {
  margin: 0;
  padding: 0;
  font: 300 16px/1.4 'Open Sans', Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #41acff;
}
a:hover {
  text-decoration: underline;
  color: #358dd4;
}

img {
  max-width: 100%;
}

.caption {
  font-style: italic;
  color: #888;
  font-size: 60%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}


.left {
  width: 439px;
  padding: 40px 40px 40px 0;
  border-right: 1pt solid #41acff;
  float: left;
}

.job {
  margin-bottom: 30px;
}

.right {
  width: 440px;
  padding: 40px 0 40px 40px;
  float: left;
}

.kicker {
  font-size: 120%;
  font-style: italic;
}
